# For CUDA 12.1+ (works with CUDA 12.3 drivers)
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

fastapi
langchain
langchain_community
langchain-huggingface
langchain-ollama
pydantic
requests
streamlit
uvicorn
pymupdf
httpx
numpy
